@import url('https://fonts.cdnfonts.com/css/redkost-comic');
@import url('https://fonts.googleapis.com/css2?family=Buenard&family=Ultra&display=swap');

body {
    margin: 0;
    overflow-y: hidden;
    background-image: url("back.png");
    height: 100%;
}

body > header {
    user-select: none;
    height: 100px;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 80vh;
    align-items: center;
}

article {
    min-width: 50%;
}

header h1 {
    margin-top: 25px;
    font-family: 'Redkost Comic', sans-serif;
    color: rgb(223, 223, 84);
    margin-left: 2vw;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #000;
    font-size: 45px;
    text-align: center;
}

canvas #game-canvas {
    border: 1px solid #000;
}

/* Estilos para os formularios */
form label {
    display: flex;
    margin: 1em;
}

form label div {
    width: 170px;
}

form input {
    margin-left: 20px;
}

form input[type=text], form input[type=password] {
    border: solid 1px #000;
}

form input[type=text]::placeholder,
form input[type=password]::placeholder {
    color: #000;
}

form input[type=submit] {
    color: #fff;
    font-weight: bold;
    background: rgb(82, 233, 253);
    border: 0;
    padding: 6px 10px;
}

.error {
    color: red;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 12px;
}

.nota {
    margin-left: 16px;
    background: #f7f7f7;
    padding: 20px;
}
.nota a, .nota a:visited, .nota a:active {
    color: rgb(82, 233, 253);
    text-decoration: none;
}
.nota a:hover {
    text-decoration: underline;
}

#game-container {
    text-align: center;
}

#game-container header {
    width: 100%;
}

#game-container header ul {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    list-style: none;
    margin: 0 0 40px;
    position: relative;
    right: 35%;
    font-size: 20px;
    font-family: 'Buenard', serif;
    
}

#game-container header li {
    margin-left: 10px;
    user-select: none;
}
#sai {
    text-decoration: none;
    color:#1B365C ;
}
#sai:hover{
    color: red;
}
.nota>a{
    color: black;
}
#input-user{
    color:black;
}
#input-user2{
    color: black;
}
/* componentes desabilitados por padrao */

#form-cadastro { display: none; }
#game-container { display: none; }

/* Heading */
header h1{
 transform:translatex(0px) translatey(0px);
 font-size:59px;
 line-height:49.4px;
 word-spacing:11.5px;
}

@media (max-width:576px){

 /* Input */
 #form-login div input[type=text]{
  transform:translatex(0px) translatey(0px);
  width:135px;
 }
 
 /* Form Division */
 #form-login form{
  transform:translatex(0px) translatey(0px);
  width:54%;
 }
 
 /* Nota */
 #form-login .nota{
  transform:translatex(0px) translatey(0px);
  width:111px;
  z-index:-10;
  position:relative;
  left:17px;
 }
 
 /* Input */
 #form-login form input{
  position:relative;
  left:0px;
 }
 
 /* Input */
 #form-login div input[type=password]{
  width:135px;
 }
 
 /* Heading */
 #form-login h1{
  line-height:30.6px;
  position:relative;
  top:-70px;
 }
 
 /* Form login */
 #form-login{
  position:relative;
  top:-7px;
  transform:translatex(0px) translatey(0px);
  left:16px;
 }
 
 /* Heading */
 header h1{
  transform:translatex(0px) translatey(0px);
 }
 
 /* Header */
 header{
  transform:translatex(3px) translatey(-20px) !important;
 }
 
}
/* Game canvas */
#game-canvas{
 display:inline-block;
 transform:translatex(0px) translatey(0px);
}

/* Main */
main{
 transform:translatex(0px) translatey(0px);
}

@media (max-width:576px){

 /* List */
 #game-container header ul{
  left:4px;
  right:auto !important;
  top:21px;
  display:inline-block;
  transform:translatex(-26px) translatey(12px);
  min-height:38px;
 }
 
 /* List Item */
 #game-container ul li{
  position:relative;
  top:-25px;
  left:16px;
 }
 
 /* List Item */
 #game-container ul li:nth-child(2){
  position:fixed;
  top:-48px;
  left:318px;
  right:-200px;
  font-size:27px;
  color:#6d6ded;
  text-shadow:rgb(255, 255, 255) 1px 1px 0px, rgb(170, 170, 170) 2px 2px 0px;
 }
 
 /* Nome usuario autenticado */
 #nome-usuario-autenticado{
  text-shadow:rgb(255, 255, 255) 1px 1px 0px, rgb(170, 170, 170) 2px 2px 0px;
 }
 
 /* List Item */
 #game-container ul li:nth-child(1){
  text-shadow:rgb(255, 255, 255) 1px 1px 0px, rgb(170, 170, 170) 2px 2px 0px;
  font-size:26px;
  top:-17px;
  left:53px;
 }
 
 /* Game canvas */
 #game-canvas{
  position:relative;
  left:8px;
  top:-23px;
  height:463px;
  transform:translatex(-26px) translatey(12px);
 }
 
 /* Heading */
 header h1{
  transform:translatex(-26px) translatey(12px);
  position:relative;
  top:12px;
 }
 
}
/* Sai */
#sai{
 position:fixed;
 top:-95px;
 left:400px;
 right:-200px;
 text-shadow:rgb(255, 255, 255) 1px 1px 0px, rgb(170, 170, 170) 2px 2px 0px;
 font-size:26px;
}

/* Nome usuario autenticado */
#nome-usuario-autenticado{
 display:inline-block;
 transform:translatex(0px) translatey(0px);
 position:relative;
 top:0px;
}

/* List */
#game-container header ul{
 padding-right:41px;
 opacity:1;
 text-shadow:rgb(255, 255, 255) 1px 1px 0px, rgb(170, 170, 170) 2px 2px 0px;
 color:#000000;
 cursor:text;
}

@media (min-width:577px){

 /* List */
 #game-container header ul{
  display:flex;
 }
 
}
